<md-dialog style="width: 50%;" ng-cloak ng-controller="allContactCtrl" >
	<form name="projectForm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h1>{{actionHeading}}</h1>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="closeContactPopup()">
					<md-icon md-svg-icon="md-close" aria-hidden="true" ></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content id="popupContainer" class="md-padding">
			<md-input-container class="md-icon-float md-block ">
		      <!-- Use floating label instead of placeholder -->
		      <label>Name</label>
		      <md-icon md-svg-src="img/ic_person_black_24px.svg" class="name"></md-icon>
		      <input ng-model="name" type="text" required>
		       <div ng-messages="projectForm.name.$error">
		          <div ng-message="required">This is required.</div>
		        </div>
		    </md-input-container>
		    <md-input-container  class="md-icon-float md-block">
		    	<label>Phone Number</label>
		      		<md-icon md-svg-src="img/ic_phone_black_24px.svg"></md-icon>
		      		<input ng-model="phone" type="text"  ng-pattern="/^([0-9]{3}) [0-9]{3}-[0-9]{4}$/">
		      			<div class="hint" ng-show="showHints">(###) ###-####</div>
		          		<div ng-messages="projectForm.phone.$error" ng-hide="showHints">
		            		<div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
		          		</div>
		    </md-input-container>
		    <md-input-container class="md-block">
		      <md-icon md-svg-src="img/ic_email_black_24px.svg" class="email"></md-icon>
		      	<input  name="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" ng-model="email" type="email" placeholder="Email (required)" ng-required="true">
		     		 <div ng-messages="projectForm.email.$error" role="alert">
		          		<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
		            		Your email must be between 10 and 100 characters long and look like an e-mail address.
		          		</div>
		        </div>
		    </md-input-container>
		    <md-input-container  class="md-icon-float md-block">
		    	<label>Address</label>
		    	 <md-icon md-svg-src="img/ic_add_location_black_24px.svg" style="display:inline-block;"></md-icon>
		      	<input ng-model="address" type="text">
		     </md-input-container>
		</form>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="closeContactPopup()">
				CANCEL
			</md-button>
			<md-button ng-click="addContact(name,phone,email,address)" style="margin-right:20px;" >
				{{actionDone}}
			</md-button>
		</md-dialog-actions>
	
</md-dialog>
